In [3]:
# 创建一个人工数据集,并存储在csv(逗号分隔值)文件
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)  # 创建目录, exist_ok=True确保目录存在时不报错
data_file = os.path.join('..', 'data', 'house_tiny.csv')  # 定义文件路径
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')  # NA在数据处理库（如Pandas）中被自动识别为缺失值
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [4]:
# 从创建的csv文件中加载原始数据集
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [5]:
# 为了处理缺失的数据,典型的方法包括插值和删除,这里我们考虑插值
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [6]:
# 对于inputs中的类别值或离散值,我们将"NaN"视为一个类别
inputs = pd.get_dummies(inputs, dummy_na=True)  # 该函数将类别型特征（如字符串、布尔值或离散数值）转换为虚拟变量（dummy variables）。
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [7]:
# 现在inputs和outputs中的所有条目都是数值类型,它们可以转换为张量格式
import torch

x, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
x, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))